.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 100%;
  min-height: 500px;
  height: 70vh;
  width: 100%;
  grid-template-areas:
    "a a b";
  justify-content: center;
}

.App-content {
  grid-area: a;
  border-style: solid;
  border-width: 2px;
}

.App-controllers {
  grid-area: b;
  border-style: solid;
  border-width: 2px;
}

.App-title {
  font-size: 1.5em;
}
