.App {
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 5px;
  color: #fafafa;
  box-shadow: 0 2px 5px 0 #555;
}

.App-body {
  display: grid;
  grid-template-rows: 100px auto;
  min-height: 70%;
  width: 100%;
  grid-template-areas:
    "a"
    "b";
  justify-content: center;
}

.App-controller {
  grid-area: a;
  display: flex;
  padding-right: 3.5%;
  padding-left: 1.5%;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 #555;
}

.App-display {
  grid-area: b;
  display: grid;
  height: 100%;
  grid-template-areas:
    "aa ab"
    "aa ac";
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 #555;
}

.App-title {
  font-size: 1.5em;
}

.Controller-RadioGroup {
  width: 200px;
  text-align: left;
}

.Controller-Header {
  margin-left: 20px;
  font-weight: bold;
}

.Display-image {
  grid-area: aa;
  height: 100%;
  width: 100%;
}

.Display-text {
  grid-area: ab;
}

.Display-audio {
  grid-area: ac;
}

@media only screen and (max-width: 650px) {
  [class="App-body"] {
    grid-template-columns: 95%;
  }
}

@media only screen and (max-width: 550px) {
  [class="App-controller"] {
    justify-content: space-between;
  }
  [class="Controller-RadioGroup"] {
    width: auto;
  }
  [class="App-display"] {
    grid-template-rows: 300px auto;
    grid-template-areas:
      "aa"
      "ab"
      "ac";
    justify-content: center;
  }
}
