.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 5px;
  color: white;
}

.App-body {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: 20% 80%;
  min-height: 500px;
  height: 70vh;
  width: 100%;
  grid-template-areas:
    "a"
    "b";
  justify-content: center;
}

.App-controller {
  grid-area: a;
  border-style: solid;
  border-width: 2px;
}

.App-display {
  grid-area: b;
  border-style: solid;
  border-width: 2px;
}

.App-title {
  font-size: 1.5em;
}
